<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Notas Rapidas</name>

  <description>
      Aplicación simple para notas.
  </description>

  <author href="https://github.com/jeronimobarea/notas-rapidas">
      Jeronimo Barea
  </author>
      <icon src="icono.png" />
    <icon src="icono.png" platform="android" qualifier="fr-xxhdpi" />
</widget>